.node-red/flows_raspberrypi.json
[{"id":"8074bf5e.c763b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5ec6be65.8224b","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"8e5754aa.dab528","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1229cc20.e04fb4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97d77cea.86cec","type":"ui_group","name":"Group 1","tab":"8e5754aa.dab528","order":1,"disp":true,"width":6},{"id":"35a12138.617d3e","type":"exec","z":"8074bf5e.c763b","command":"sudo curl -X POST \"https://api.openalpr.com/v2/recognize?secret_key=sk_f240cbe60402ed2b08f30bed&recognize_vehicle=1&country=us&return_image=0&topn=10\" -F image=@/home/pi/Pictures/car-photo.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":390,"y":218,"wires":[["b919a7a7.f05168"],[],[]]},{"id":"b919a7a7.f05168","type":"json","z":"8074bf5e.c763b","name":"JSON","pretty":false,"x":536.5,"y":205.5,"wires":[["574c75b3.bd331c"]]},{"id":"f23ce11a.8641b","type":"camerapi-takephoto","z":"8074bf5e.c763b","filemode":"1","filename":"car-photo.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"","name":"Take Photo","x":224,"y":219,"wires":[["35a12138.617d3e"]]},{"id":"574c75b3.bd331c","type":"debug","z":"8074bf5e.c763b","name":"","active":true,"console":"false","complete":"false","x":688,"y":205,"wires":[]},{"id":"d33aeada.2fd388","type":"inject","z":"8074bf5e.c763b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":67.5,"y":219,"wires":[["f23ce11a.8641b"]]},{"id":"89076f8a.d2329","type":"ui_switch","z":"8074bf5e.c763b","name":"","label":"switch","group":"97d77cea.86cec","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":51.5,"y":360,"wires":[["87515039.619ee"]]},{"id":"87515039.619ee","type":"rpi-gpio out","z":"8074bf5e.c763b","name":"1","pin":"7","set":false,"level":"0","freq":"","out":"out","x":186.5,"y":478,"wires":[]}]