.node-red/flows_raspberrypi.json
[{"id":"8074bf5e.c763b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5141b07e.d46a6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5ec6be65.8224b","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"8e5754aa.dab528","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1229cc20.e04fb4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97d77cea.86cec","type":"ui_group","name":"Group 1","tab":"8e5754aa.dab528","order":1,"disp":true,"width":6},{"id":"3876ee0.a73da12","type":"firebase config","z":"","firebaseurl":"smartparking-4ec8d","loginType":"none"},{"id":"35a12138.617d3e","type":"exec","z":"8074bf5e.c763b","command":"sudo curl -X POST \"https://api.openalpr.com/v2/recognize?secret_key=sk_f240cbe60402ed2b08f30bed&recognize_vehicle=1&country=us&return_image=0&topn=10\" -F image=@/home/pi/Pictures/car-photo.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":728.5714721679688,"y":222.28570556640625,"wires":[["b919a7a7.f05168"],[],[]]},{"id":"b919a7a7.f05168","type":"json","z":"8074bf5e.c763b","name":"JSON","pretty":false,"x":875.0714721679688,"y":209.78570556640625,"wires":[["574c75b3.bd331c"]]},{"id":"f23ce11a.8641b","type":"camerapi-takephoto","z":"8074bf5e.c763b","filemode":"1","filename":"car-photo.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"","name":"Take Photo","x":562.5714721679688,"y":223.28570556640625,"wires":[["35a12138.617d3e"]]},{"id":"574c75b3.bd331c","type":"debug","z":"8074bf5e.c763b","name":"","active":true,"console":"false","complete":"false","x":1026.5714721679688,"y":209.28570556640625,"wires":[]},{"id":"d33aeada.2fd388","type":"inject","z":"8074bf5e.c763b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":406.07147216796875,"y":223.28570556640625,"wires":[["f23ce11a.8641b"]]},{"id":"89076f8a.d2329","type":"ui_switch","z":"8074bf5e.c763b","name":"","label":"switch","group":"97d77cea.86cec","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390.07147216796875,"y":364.28570556640625,"wires":[["87515039.619ee"]]},{"id":"87515039.619ee","type":"rpi-gpio out","z":"8074bf5e.c763b","name":"1","pin":"7","set":false,"level":"0","freq":"","out":"out","x":525.0714721679688,"y":482.28570556640625,"wires":[]},{"id":"9624b804.237ed8","type":"exec","z":"5141b07e.d46a6","command":"sudo curl -X POST \"https://api.openalpr.com/v2/recognize?secret_key=sk_b52c955027cb66fef71d46dc&recognize_vehicle=1&country=us&return_image=0&topn=10\" -F image=@/home/pi/Pictures/car-photo.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":532,"y":197,"wires":[["44b34fb.129f6b"],[],[]]},{"id":"44b34fb.129f6b","type":"json","z":"5141b07e.d46a6","name":"JSON","property":"payload","action":"","pretty":false,"x":678.5,"y":184.5,"wires":[["ed228b83.032438"]]},{"id":"6ee99569.fe771c","type":"camerapi-takephoto","z":"5141b07e.d46a6","filemode":"1","filename":"car-photo.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"","name":"Take Photo","x":366,"y":198,"wires":[["9624b804.237ed8"]]},{"id":"ed228b83.032438","type":"debug","z":"5141b07e.d46a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":184,"wires":[]},{"id":"c69f4f87.82b59","type":"inject","z":"5141b07e.d46a6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":209.5,"y":198,"wires":[["6ee99569.fe771c"]]},{"id":"95be1d51.5ef0d","type":"exec","z":"5141b07e.d46a6","command":"sudo curl -X POST \"https://api.openalpr.com/v2/recognize?secret_key=sk_b52c955027cb66fef71d46dc&recognize_vehicle=1&country=us&return_image=0&topn=10\" -F image=@/home/pi/Pictures/car-photo.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":952,"y":337,"wires":[["10c91cbd.280903"],[],[]]},{"id":"10c91cbd.280903","type":"json","z":"5141b07e.d46a6","name":"JSON","property":"payload","action":"","pretty":false,"x":1103.5,"y":352.5,"wires":[["f6ae13bc.85b96","edff15e4.eb9468"]]},{"id":"edff15e4.eb9468","type":"function","z":"5141b07e.d46a6","name":"Identify Car","func":"var flag = 0\n//No car or car plate found in photo\nif(msg.payload.results.length === 0) {\n    msg.payload=0;\n    global.set(\"barOpen\",\"0\");  \n}\n//If car plate match\nelse{\n    for(var i=0;i<global.get(\"obj\").length;i++){\n        if(msg.payload.results[0].plate == global.get(\"obj\")[i]){\n            msg.payload=1;\n            global.set(\"barOpen\",\"1\");\n            flag = 1;\n            break;\n        }\n    }\n}\n\nif(flag === 0){\n    msg.payload=0;\n    global.set(\"barOpen\",\"0\");\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":472,"y":517,"wires":[["5ca9210d.4e69f"]]},{"id":"3b0fce58.239552","type":"camerapi-takephoto","z":"5141b07e.d46a6","filemode":"1","filename":"car-photo.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"","name":"Take Photo","x":786,"y":338,"wires":[["95be1d51.5ef0d"]]},{"id":"5ca9210d.4e69f","type":"switch","z":"5141b07e.d46a6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":653.5,"y":540,"wires":[["c81ab41a.c8a3d8"],["b98ea3ee.e9962"]]},{"id":"f6ae13bc.85b96","type":"debug","z":"5141b07e.d46a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1249,"y":317,"wires":[]},{"id":"9e25bfaa.13992","type":"switch","z":"5141b07e.d46a6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":639,"y":379,"wires":[["3b0fce58.239552"],["3be5412.eb5febe"]]},{"id":"8744de58.39213","type":"function","z":"5141b07e.d46a6","name":"Is Bar Open","func":"var barOpen = global.get(\"barOpen\"); \n\nglobal.set(\"barOpen\", \"0\")\nif(barOpen == \"1\"){\n    msg.payload = 1;\n}\nelse {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":317,"wires":[["9e25bfaa.13992"]]},{"id":"bfe49e82.f016c","type":"delay","z":"5141b07e.d46a6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":942,"y":517,"wires":[["497247d.e76dcb8"]]},{"id":"497247d.e76dcb8","type":"function","z":"5141b07e.d46a6","name":"Close Bar","func":"msg.payload=0;   \nglobal.set(\"barOpen\",\"0\"); \nreturn msg;\n\n","outputs":1,"noerr":0,"x":1122,"y":517,"wires":[["b54bc10d.7e02e"]]},{"id":"3be5412.eb5febe","type":"debug","z":"5141b07e.d46a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":779,"y":386,"wires":[]},{"id":"b98ea3ee.e9962","type":"debug","z":"5141b07e.d46a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":828,"y":605,"wires":[]},{"id":"21b5e7ae.5cbed8","type":"switch","z":"5141b07e.d46a6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":312,"y":357,"wires":[["8744de58.39213"],["8ad04bf5.0fd7c8"]]},{"id":"8ad04bf5.0fd7c8","type":"debug","z":"5141b07e.d46a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":472,"y":417,"wires":[]},{"id":"82fee950.d65ec8","type":"debug","z":"5141b07e.d46a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":752,"y":817,"wires":[]},{"id":"9696b3.2e5d695","type":"function","z":"5141b07e.d46a6","name":"Get DB","func":"var obj = global.get(\"obj\"); \nglobal.set(\"obj\",Object.values(msg.payload))\n\nreturn msg;","outputs":1,"noerr":0,"x":782,"y":717,"wires":[[]]},{"id":"b54bc10d.7e02e","type":"exec","z":"5141b07e.d46a6","command":"python ~/close.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"close","x":1292,"y":497,"wires":[[],[],[]]},{"id":"c81ab41a.c8a3d8","type":"exec","z":"5141b07e.d46a6","command":"python ~/open.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"open","x":792,"y":517,"wires":[["bfe49e82.f016c"],[],[]]},{"id":"a22cf161.54d29","type":"rpi-srf","z":"5141b07e.d46a6","name":"distance finder","topic":"SRF","pulse":"0.5","pins":"","x":122,"y":337,"wires":[["21b5e7ae.5cbed8"]]},{"id":"d67ec5de.ec4a48","type":"firebase.on","z":"5141b07e.d46a6","name":"","firebaseconfig":"3876ee0.a73da12","childpath":"","atStart":true,"eventType":"value","queries":[],"x":359,"y":737,"wires":[["9696b3.2e5d695","82fee950.d65ec8"]]}]